[alias]
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(black)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    co = checkout
    cob = checkout -b
    coo = !git fetch && git checkout
    br = branch
    brd = branch -d
    brD = branch -D
    st = status
    amend = commit --amend -m
    master = !git checkout master && git pull origin
    pom = push origin master
    poh = push origin HEAD
    plom = pull origin master
    ploh = pull origin HEAD
    unstage = reset --soft HEAD^
[core]
	autocrlf = input
	quotepath = false
[credential]
	helper = cache --timeout=57600
[branch]
	autosetuprebase = always
[color]
	ui = true
	status = auto
	branch = auto
[push]
	default = simple
	followTags = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[http]
	sslVerify = false
[ssl]
	Verify = false
[init]
	defaultBranch = main
